Package: com.fidele007beta.nop8gelimits
Name: NoP8geLimits
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: No SpringBoard page limits. Should work on every current iOS version.
Maintainer: fidele007
Author: fidele007
Section: Tweaks
